<div class="contact-list">
    <ul>
        <li *ngFor="let item of contactsListObject" [ngClass]="{'activeChat':activeUser== item.Id}" (click)="(typeOfList < 3 || item.isConnected==1) && openChatHistory(item.Id)" class="contact-item">
            <div class="wrap" >
                <p *ngIf="typeOfList==1" class="font-small-3 float-right primary">{{ setDate(item.message.date) | date :"shortTime"}}</p>
                <div class="float-left image">
                    <span class="contact-status" [ngClass]="{'online':item.Status==1 , 'offline':item.Status==0}"></span>
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="meta">
                    <h6 class="name">
                        {{item.FullName}}                       
                    </h6>
                    <span *ngIf="typeOfList==1 && item.message.unreadCount > 0" 
                        class="font-small-3 float-right notification">{{item.message.unreadCount}}</span>
                    <span class="float-right add-friend" *ngIf="typeOfList==3 && item.isConnected!=1" ><button class="btn" (click)="addContact(item.Id)"  ><i class="fa fa-user-plus"></i></button></span>
                    <p *ngIf="typeOfList==1" class="preview">{{item.message.message}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>