<div *ngIf="userInfo" class="content">
	<div class="contact-profile">
		<img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
		<p>{{userInfo?.FullName}}</p>
		<div class="social-media">
		</div>
	</div>
	<div #messages class="messages">
		<ul>
			<li *ngFor="let item of chatHistory" [ngClass]="{'sent':item.FromUserId== userInfo.Id, 'replies':item.ToUserId==userInfo.Id}">
				<p class="message">
					<span *ngIf="item.AttachementLocation">
						<button class="btn btn-link" (click)="downloadFile(item.AttachementLocation)">
							<i class="fa fa-file-download fa-lg"></i>{{item.AttachementLocation}}</button> </span>
					{{item.MessageText}}
				</p>
				<p class="date">{{setDate(item.CreationDateTime) | date :"shortTime"}}</p>
			</li>
		</ul>
		<div ></div>
	</div>
	<div  class="message-input">
		<div class="wrap">
			<form [formGroup]="sendMessageForm" (ngSubmit)="sendMessage(sendMessageForm.value)">
				<i class="fa fa-paperclip attachment fa-lg float-left" aria-hidden="true" (click)="pressToUploadFile()"></i>
				<input #fileInput type="file" name="selectedFile" (change)="selectFile($event)" hidden="true" />
				<input formControlName="message" type="text" placeholder="Write your message...">
				<button class="submit" class="btn" type="submit">Send</button>
			</form>
		</div>
	</div>
</div>

<div *ngIf="!userInfo" class="content">
	<p class="no-user-selected"> Select user to chat with </p>
</div>