 .content {
    float: right;
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0px 10px 10px 0px;
  }

   .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
  }
   .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }
   .content .contact-profile p {
    float: left;
  }
   .content .contact-profile .social-media {
    float: right;
  }
   .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
  }
   .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
  }
   .content .contact-profile .social-media i:hover {
    color: #435f7a;
  }
   .content .messages {
    height: auto;
    min-height: calc(100% - 33%);
    max-height: calc(100% - 33%);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }

   .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
   .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
   .content .messages ul li {
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
   .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
   .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
  }
   .content .messages ul li.sent p.message {    
    background: white;
    color: #929395;
    position: relative;
  }
   .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
  }
   .content .messages ul li.replies p.message {
    background: #20c3b4;
    float: right;
    color: white;
    position: relative;
  }

  .content .messages ul li.replies p.message:before{
    content: ' ';
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #20c3b4;
    right: -8px;
  }
  .content .messages ul li.sent p.message:after {
    content: ' ';
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid white;
    top: -8px;
    left: 0px;
  }
   .content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
  }
   .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 205px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
     .content .messages ul li p {
      max-width: 300px;
    }
  }
   .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    height: 15%;
    background: #e5e6e7;
    vertical-align: middle;
    padding: 15px;
  }
   .content .message-input .wrap {
    position: relative;
  }
   .content .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 127px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    /* color: #32465a; */
    margin-right: 17px;
    margin-left: 10px;
  }
  @media screen and (max-width: 735px) {
     .content .message-input .wrap input {
      padding: 15px 32px 16px 8px;
    }
  }
   .content .message-input .wrap input:focus {
    outline: none;
  }
   .content .message-input .wrap .attachment {   
    z-index: 4;
    margin: 10px;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
     .content .message-input .wrap .attachment {
      margin: 17px;
    }
  }
   .content .message-input .wrap .attachment:hover {
    opacity: 1;
  }
   .content .message-input .wrap button {    
    border: none;
    cursor: pointer;
    background: #20c3b4;
    color: #f5f5f5;
  }

   .content .message-input .wrap button:focus {
    outline: none;
  }

.content .no-user-selected{
  vertical-align: middle;
  height: 100%;
  text-align: center;
  margin-top: 20%;
}
.content .messages ul li.replies p.date{
  float: right;
  color: #9c9e9f;
}

.content .messages ul li.sent p.date{
  color: #9c9e9f;
}