<div id=frame>
  <div class="side-menu-container">
    <div class="contact-profile">      
      <p>{{curerntUserObject?.full_name}}
        <span class="float-right logout" (click)="logout()">logout</span>
      </p>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn btn-light" [ngClass]="{'active-tab':displayedListType== sideMenuItems.displayChatList}"
        (click)="changeView(sideMenuItems.displayChatList)">
        <img src="assets/img/chat-history.png">
      </button>
      <button type="button" class="btn btn btn-light" [ngClass]="{'active-tab':displayedListType== sideMenuItems.displayContactList}"
        (click)="changeView(sideMenuItems.displayContactList)">
        <i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn btn-light" [ngClass]="{'active-tab':displayedListType== sideMenuItems.displaySearachList}"
        (click)="changeView(sideMenuItems.displaySearachList)">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
      </button>
    </div>

    <div *ngIf="displaySearchField" class="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input matInput placeholder="Search by full name or username" type="search" (keyup)="search($event)" value="">
    </div>
    <client-contact-list [contactsListObject]="contactsListObject" [typeOfList]="displayedListType" (openContactChat)="openContactChat($event)"></client-contact-list>
  </div>
  <client-chat [userInfo]="userInfo" [inputUserId]="otherUserId" [newMessage]="newChatMessage"></client-chat>
</div>