#frame { 
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #f0f0f2;
    margin: 5% 10% ;
    border-radius: 10px;
}

  @media screen and (max-width: 360px) {
    #frame{
      width: 100%;
      height: 100vh;
    }
  }
  #frame .side-menu-container {
    float: left;
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame .side-menu-container {
      width: 58px;
      min-width: 58px;
    }
  }

  #frame .side-menu-container #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
  }
  @media screen and (max-width: 735px) {
    #frame .side-menu-container #search {
      display: none;
    }
  }
  #frame .side-menu-container #search label {
    position: absolute;
    margin: 10px 0 0 20px;
  }
  #frame .side-menu-container #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
  }
  #frame .side-menu-container #search input:focus {
    outline: none;
    background: #435f7a;
  }
  #frame .side-menu-container #search input::-webkit-input-placeholder {
    color: #f5f5f5;
  }
  #frame .side-menu-container #search input::-moz-placeholder {
    color: #f5f5f5;
  }
  #frame .side-menu-container #search input:-ms-input-placeholder {
    color: #f5f5f5;
  }
  #frame .side-menu-container #search input:-moz-placeholder {
    color: #f5f5f5;
  }
  .side-menu-container .btn-group{
    width: 100%;
  }
  .side-menu-container .btn-group .btn{
    background: #c9c9cc;
    border-radius: 0;
    padding: 15px;
  }

  .fa{
      color: #929395;
  }
  .side-menu-container .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
  .side-menu-container .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }

  .side-menu-container .contact-profile .fa-sign-out-al {
    cursor: pointer;
  }

  .active-tab{
    background: #20c3b4;
  }