#frame { 
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #f0f0f2;
    margin: 5% 10% ;
    border-radius: 10px;
}

  @media screen and (max-width: 360px) {
    #frame{
      width: 100%;
      height: 100vh;
    }
  }
  #frame .side-menu-container {
    float: left;
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame .side-menu-container {
      width: 40%;
      min-width: 40%;
    }
  }

  #frame .side-menu-container .search {
    font-weight: 300;
    margin: 2%;
  }

  #frame .side-menu-container .search label {
    position: absolute;
    margin: 10px 0 0 20px;
  }
  #frame .side-menu-container .search input {
    padding: 10px 0 10px 46px;
    width: 100%; 
    border-radius: 10px;
    color: #9c9e9f;
    border: 2px solid transparent;
    background: #e5e6e7;
  }
  #frame .side-menu-container .search input:focus {
    outline: none;
  }
  #frame .side-menu-container .search input::-webkit-input-placeholder {
    color: #9c9e9f;
  }
  #frame .side-menu-container .search input::-moz-placeholder {
    color: #9c9e9f;
  }
  #frame .side-menu-container .search input:-ms-input-placeholder {
    color: #9c9e9f;
  }
  #frame .side-menu-container .search input:-moz-placeholder {
    color: #9c9e9f;
  }
  .side-menu-container .btn-group{
    width: 100%;
  }
  .side-menu-container .btn-group .btn{
    background: #c9c9cc;
    border-radius: 0;
    padding: 15px;
  }

  .fa{
      color: #929395;
  }
  .side-menu-container .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-left: 2%;
  }
  .side-menu-container .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }

  .side-menu-container .contact-profile .fa-sign-out-al {
    cursor: pointer;
  }

  .active-tab{
    background: #20c3b4;
  }
  .logout{
    cursor: pointer;
    margin-right: 3%;
  }