<div class="jumbotron form-container">
  <form [formGroup]="signupForm" (ngSubmit)="save(signupForm.value)">
    <h5> Sign Up</h5>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="name" placeholder="Full Name" type="text" value="">
    </mat-form-field>
    <div class="clear"></div>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="username" placeholder="Username" type="text" value="">
    </mat-form-field>
    <div class="clear"></div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" formControlName="password" type="password" value="">
    </mat-form-field>
    <div class="clear"></div>
    <a class="left-link"href="/">Login</a>
    <button mat-raised-button color="primary" type="submit" class="controller-btn float-right">Sign Up</button>
  </form>
</div>